<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs',{pageTitle: 'Admin'}); %>
  </head>
  <body class="body-bg user-profile-body">
    <%- include('partials/topNav.ejs',{firstName,lastName,profilePhoto}) %>
    <section class="section-profile-container">
      <div class="section-heading-container">
        <p class="section-heading">Personal-details</p>
      </div>
      <section class="flex-center section-personal-details">
        <div class="flex-center profile-picture-box">
          <img
            class="profile-picture"
            src="/userProfileImages/<%= profilePhoto %>"
          />
          <form
            class="flex-center form-change-profile-picture"
            action="/my-profile/photo"
            method="post"
            enctype="multipart/form-data"
          >
            <input class="btn" type="file" name="user-profile-photo" />
            <button
              class="btn-change-user-profile-picture btn-change"
              type="submit"
            >
              change profile picture
            </button>
          </form>
        </div>
        <div class="personal-info-container">
          <div class="flex-center personal-info-div">
            <div class="flex-center personal-info-box user-name-box">
              <label class="font" for="firstName">First Name :</label>
              <form
                class="flex-center form-box"
                action="/my-profile"
                method="post"
              >
                <input
                  name="firstName"
                  type="text"
                  value="<%= `${firstName}` %>"
                  class="input-change profile-name"
                />
                <button class="change-user-name btn-change" type="submit">
                  Change
                </button>
              </form>
            </div>
            <div class="flex-center personal-info-box user-name-box">
              <label class="font" for="lastName">Last Name :</label>
              <form
                class="flex-center form-box"
                action="/my-profile"
                method="post"
              >
                <input
                  name="lastName"
                  type="text"
                  value="<%= `${lastName}` %>"
                  class="input-change profile-name"
                />
                <button class="change-user-name btn-change" type="submit">
                  Change
                </button>
              </form>
            </div>
            <div class="flex-center personal-info-box user-email-box">
              <label class="font" for="email">User email :</label>
              <form
                class="flex-center form-box"
                action="/my-profile"
                method="post"
              >
                <input
                  name="email"
                  type="email"
                  value="<%= email %>"
                  class="input-change profile-email"
                />
                <button class="change-user-email btn-change" type="submit">
                  Change
                </button>
              </form>
            </div>
            <div class="flex-center personal-info-box user-DOB">
              <label class="font" for="dob">DOB :</label>
              <form
                class="flex-center form-box"
                action="/my-profile"
                method="post"
              >
                <input
                  name="dob"
                  type="date"
                  value="<%= dob %>"
                  class="input-change profile-DOB"
                />
                <button class="change-user-DOB btn-change" type="submit">
                  Change
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <div class="section-heading-container">
        <p class="section-heading">Options</p>
      </div>
      <section class="flex-center section-options">
        <div class="flex-center user-password-option-container">
          <label class="font" for="password">Change password</label>
          <input
            class="input-change user-confirm-password"
            type="password"
            name="password"
            placeholder="confirm password"
          />
          <input
            class="input-change user-new-password"
            type="password"
            name="password"
            placeholder="new password"
          />
          <button class="btn-change">change password</button>
        </div>
        <div class="flex-center account-option-container">
          <label class="font">account settings</label>
          <button class="btn-change btn-disable-account">
            Disable Account
          </button>
          <button class="btn-change btn-delete-account">Delete Account</button>
        </div>
      </section>
      <section class="section-admin">
        <div class="section-heading-container">
          <p class="section-heading">Administration options</p>
        </div>
        <div class="flex-center admin-view-users">
          <form class="flex-center" action="/admin" method="post">
            <button class="btn" type="submit">manage users</button>
          </form>
        </div>
      </section>
    </section>
  </body>
</html>
